
{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load for_censor %}

{% block title %}
News
{% endblock title %}

{% block content %}
    <h1 style="color:#808080">Все новости</h1>
    <h8>Всего новостей:{{news|length}};</h8>
    <h7>{{time_now|date:'M d Y'}}</h7>
    <hr>
    {% if news %}
        <table>
            <tr align="justify">
                <td style="font-size:140%">
                    Название:
                </td>
                <td style="font-size:140%">
                    Дата публикации:
                </td>
                <td style="font-size:140%">
                    Описание:
                </td>
            </tr>
        {% for post in news %}
            <tr align="justify">
                <td>
                    <a href="{{post.id}}">{{ post.title|multiply:1|censor }}</a>
                <hr>
                </td>
                <td>
                    |{{ post.dateCreation | date:'d M Y, H:m'}}|
                <hr>
                </td>
                <td>
                    {{ post.text|stringformat:".50s"|censor }}
                <hr>
                </td>
            </tr>
        {% endfor %}
        </table>

    {% else %}
        <h2 align="justify">Новостей нет</h2>
    {% endif %}
{% endblock content %}
