
{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load for_censor %}

{% block title %}
News
{% endblock title %}

{% block content %}
<form method="GET">
    {{ filter.form }}
    <input type="submit" value="Поиск">
</form>
    <h1 style="color:#808080">Все новости</h1>
    <h8>Новостей на странице: {{news|length}} ;</h8>
    <h7>{{time_now|date:'M d Y'}}</h7>
    <hr>
    {% if news %}
        <table>
            <tr align="justify">
                <td style="font-size:140%">
                    Название:
                </td>
                <td style="font-size:140%">
                    Дата публикации:
                </td>
                <td style="font-size:140%">
                    Описание:
                </td>
            </tr>
        {% for post in news %}
            <tr align="justify">
                <td>
                    <a href="{{post.id}}">{{ post.title|multiply:1|censor }}</a>
                    <a href="{% url 'editpost' post.id %}"><u>Редактировать</u></a>
                    <a href="{% url 'delete_post' post.id %}"><u>Удалить</u></a>
                <hr>
                </td>
                <td>
                    |{{ post.dateCreation | date:'d M Y, H:m'}}|
                <hr>
                </td>
                <td>
                    {{ post.text|stringformat:".50s"|censor }}
                <hr>
                </td>
            </tr>
        {% endfor %}
        </table>


<a style="font-size:140%" href="{% url 'addpost' %}">Добавить пост</a> <br>


{% if is_paginated %}

    {% if page_obj.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a>{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">>>></a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}

{% endif %}


    {% else %}
        <h2 style="font-size:140%" align="justify">Новостей нет</h2>
    {% endif %}
{% endblock content %}
